.loan-card {
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(240, 239, 239);
  -webkit-box-shadow: 0px 10px 13px -7px #313030,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #313030, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
