.welcome-text {
  color: rgba(82, 82, 82, 0.9);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;
}

.header-text {
  color: white;
  padding: 5px 16px;
  border-radius: 12px;
}

.how-to {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  color: rgb(99, 99, 99);
  font-size: 22px;
}
