.welcome-text {
  color: rgba(82, 82, 82, 0.9);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px;
}

.header-text {
  color: white;
  padding: 5px 16px;
  border-radius: 12px;
}
